[{"m_content":"Hello World","m_author":"Guest1","m_date":"1211470395","m_style":"","m_id":"0","m_status":"","m_x":"100","m_y":"100","m_z":"1","m_width":"100","m_height":"50"},{"m_content":"Hello world2","m_author":"Guest2","m_date":"1211470529","m_style":"","m_id":"1","m_status":"","m_x":"-100","m_y":"-100","m_z":"1","m_width":"100","m_height":"50"}]
